@charset "utf-8";
/* CSS Document*/


:root
{
    --RBlue: royalblue;
    --GBlack: rgb(50 50 50);
    --BOrange: rgb(255, 128, 0);
    --GGreen: rgb(98, 255, 0);
    --BPurple: rgb(141, 0, 180);
}


body, html 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    margin: 0.1% 0.5% 0.5% 0.5%;
}

#Body
{
    margin: 0px 40px 40px 40px;
}

.nav
{
    background: var(--GBlack);
    border: black solid;
    float: right;
}

.nav a
{
    padding: 0px 16px;
    text-decoration: none;
    text-align: center;
    border: 20px;
    color: white;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    display: flexbox;
}

.nav a:hover
{
    background-color: var(--GBlack);
    border: var(--BPurple) solid;
    color: var(--BPurple);
    transition: ease 500ms;
} 

#UELogo
{  
    border-radius: 20px;
    margin: 0 20px 0 0 ;
    float: left;
} 

#MText
{
    width: 20%;
    float: left;
    border-right: 5px black solid;
    margin-right: 3px;
}

.h1
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

.p1
{
    color: black;
}

.Img
{
    height: 300px;
}

#RondeFoto
{
    border-radius: 50%;
    float: left;
    margin-right: 50px;
    border: black solid;
}

#Scalda
{
    height: 300px;
}

.Logos
{
    /*width: 150px; */
    border-top: 300px;
    border-bottom: 300px;
    float: right;
}

/*#Logos
{
    
} */

/* Home Bandai Namco */
#Bandai
{
    float: left;
}

#BandaiLogo
{
    width: 250px;
    border-bottom: 4px var(--BOrange) solid;
    margin-top: 42px;
}

#BandaiButton
{
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: black solid;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 250px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 20px;

}

#BandaiButton:hover
{
    background-color: var(--GBlack);
    border: var(--BOrange) solid;
    color: var(--BOrange);
    transition: ease 500ms;
}

#H5Bandai
{
    text-align: center;
}
/* END Home Bandai */

/* Home Bungie  */
#Bungie
{
    float: left;
    margin-left: 18px;
}

#BungieLogo
{
    width: 250px;
    border-bottom: 4px var(--RBlue) solid;
    margin-top: 133px;
}

#BungieButton
{
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: black solid;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 250px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 20px;

}

#BungieButton:hover
{
    background-color: var(--GBlack);
    border: var(--RBlue) solid;
    color: var(--RBlue);
    transition: ease 500ms;
}

#H5Bungie
{
    text-align: center;
}
/* END Home Bungie */
#Guerilla
{
    float: right;
}

#GuerillaLogo
{
    width: 250px;
    float: left;
    border-bottom: 4px var(--GGreen) solid;
}

#GuerillaButton
{
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: black solid;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 250px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 20px;

}

#GuerillaButton:hover
{
    background-color: var(--GBlack);
    border: var(--GGreen) solid;
    color: var(--GGreen);
    transition: ease 500ms;
}

#H5Guerilla
{
    text-align: center;
}




/* Overmij */

#Ik_en_familie
{
    float: left;
    width: 25%;
}

#Mid
{
    width: 50%;
    float: left;
}

#Cross
{
    width: 350px;
    margin-left: 25%;
    margin-right: 25%;

}

#hobbys
{
    float: left;
}

#TTButton
{
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: black solid;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 250px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
}

#TTButton:hover
{
    background-color: var(--GBlack);
    border: var(--BPurple) solid;
    color: var(--BPurple);
    transition: ease 500ms;
}

#H5Tiktok
{
    float: none;
}

#Opleiding
{
    float: left;
    width: 40%;
}

#Basisschool
{
    float: right;
    margin-right: 5%;
    width: 40%;
}

#H1Basis
{
    background-color: rgb(172, 172, 172);
    padding: 10px 14px;
    border-bottom: 10px var(--BPurple) solid;
    text-align: center;
}

#ButtonCBS
{
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: black solid;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 250px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;    
}

#ButtonCBS:hover
{
    background-color: var(--GBlack);
    border: var(--BPurple) solid;
    color: var(--BPurple);
    transition: ease 500ms;
}

#VO
{
    float: right;
    margin-right: 5%;
    width: 40%;
}

#H1VO
{
    background-color: rgb(172, 172, 172);
    padding: 10px 14px;
    border-bottom: 10px var(--BPurple) solid;
    text-align: center;
}

#ButtonVO
{
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: black solid;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 250px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
}

#ButtonVO:hover
{
    background-color: var(--GBlack);
    border: var(--BPurple) solid;
    color: var(--BPurple);
    transition: ease 500ms;
}

#SD
{
    float: right;
    margin-right: 5%;
    width: 40%;
}

#H1SD
{
    background-color: rgb(172, 172, 172);
    padding: 10px 14px;
    border-bottom: 10px var(--BPurple) solid;
    text-align: center;
}

#ButtonSD
{
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: black solid;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 250px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
}

#ButtonSD:hover
{
    background-color: var(--GBlack);
    border: var(--BPurple) solid;
    color: var(--BPurple);
    transition: ease 500ms;
}


/* Werkervaring */
#Action
{
    width: 500px;
    float: right;
}



/* Contact */
#Tel
{
    color: var(--BOrange);
}

#Mail
{
    color: var(--BOrange);
}

#Maps
{
    float: right;
}

#Contact
{
    float: left;
    width: 40%;
}
